
html{
	background-image: url("./assign1_files/background.jpg");
}

body{
	width: 80%;
	margin:0 auto;
	font-family: sans-serif;
}

#header{
	text-align: center;
}

#table_sec{
	width: 100%;
}

#table_sec > h2{
	text-align: center;
}

#table_sec > table{
	margin: 0 auto;
}

table{
	width: 90%;
}

a:hover{
	color: darkgreen;
}

tr:nth-child(even) {
  background-color: purple;
}

.favWord{
	color: red;
	font-weight: bold;
}

#qoute{
	background-color: lightpink;
}